<h1>Editing Non Playable Character</h1>

<%= render 'form', non_playable_character: @non_playable_character %>

<%= link_to 'Show', @non_playable_character %> |
<%= link_to 'Back', non_playable_characters_path %>
